<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dad Gum Security Cam | {% block head_title %}title{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static '/w3.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="w3-content" style="max-width:100%;">
        {% include "components/top_nav_bar.html" %}
        <div class="w3-row w3-gray w3-center" style="min-height:700px;">
            {% block content %}{% endblock %}
        </div>
        {% include "components/footer_bar.html" %}
    </body>
</html>